*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff; }

.heading {
  font-family: "Raleway", sans-serif;
  font-weight: 700; }
  .heading--primary {
    font-size: 4rem; }
  .heading--secondary {
    font-size: 3rem; }
  .heading--tertiary {
    font-size: 1.4rem; }

.paragraph {
  font-size: 1.4rem;
  margin-bottom: 3rem; }

body {
  background-color: black; }
