:root {
  --color-blue-dark-1: hsl(217, 28%, 15%);
  --color-blue-dark-2: hsl(218, 28%, 13%);
  --color-blue-dark-3: hsl(216, 53%, 9%);
  --color-blue-dark-4: hsl(219, 30%, 18%);
  --color-cyan: hsl(176, 68%, 64%);
  --color-blue: hsl(198, 60%, 50%);
  --color-white: #fff;
  --color-grey-light-4: #ccc;
  --default-font-size: 1.8rem;
  --box-shadow-hover: 0 3rem 3rem rgba(0, 0, 0, 0.3);
  --box-shadow-active: 0 1rem 5rem rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 37.5em) {
    :root {
      --default-font-size: 2rem; } }

* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--default-font-size);
  font-weight: 400;
  color: var(--color-white);
  line-height: 1.5; }

.heading-primary {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  word-spacing: 5px;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 3rem; } }

.heading-secondary {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 3.25rem;
  word-spacing: 5px;
  margin-bottom: 2rem; }

.heading-tertiary {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  word-spacing: 5px;
  margin-bottom: 1.4rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-tertiary {
      font-size: 2.5rem; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }
  @media only screen and (max-width: 37.5em) {
    .u-margin-bottom-small {
      margin-bottom: 2.5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 2.5rem !important; }
  @media only screen and (max-width: 37.5em) {
    .u-margin-bottom-medium {
      margin-bottom: 2.9rem !important; } }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  padding: 1.5rem 10rem;
  background-image: linear-gradient(to right, var(--color-cyan), var(--color-blue));
  border-radius: 100px;
  color: var(--color-white);
  position: relative;
  transition: all 0.4s;
  border: none; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 3rem 10rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 37.5em) {
    .btn:hover {
      transform: none;
      box-shadow: none; } }
  .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0; }
    @media only screen and (max-width: 37.5em) {
      .btn:hover::after {
        transform: none; } }

.btn:focus, .btn:active {
  transform: translateY(-1px);
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: '';
  display: inline-block;
  padding: 1.5rem 10rem;
  background-image: linear-gradient(to right, var(--color-cyan), var(--color-blue));
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: all 0.4s; }

.btn-small, .btn-small:link, .btn-small:visited {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-cyan);
  border-bottom: 1px solid currentColor;
  position: relative;
  transition: all 0.3s; }

.btn-small::before {
  content: '';
  background-color: var(--color-cyan);
  width: 100%;
  height: 100%;
  position: absolute;
  top: -5rem;
  left: 0;
  z-index: -1;
  transition: all 0.3s; }
  @media only screen and (max-width: 37.5em) {
    .btn-small::before {
      display: none; } }

.btn-small:hover {
  z-index: 2;
  color: white;
  box-shadow: var(--box-shadow-hover);
  transform: scale(1.1); }
  @media only screen and (max-width: 37.5em) {
    .btn-small:hover {
      transform: none;
      box-shadow: none;
      color: var(--color-cyan); } }

.btn-small:active {
  transform: translateY(-1px);
  box-shadow: var(--box-shadow-active); }

.btn-small:hover::before {
  top: 0; }

.btn-small__icon-arrow {
  margin-left: 4px; }

.btn--smaller {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 5.5rem 0 5.5rem;
  text-transform: capitalize;
  font-family: 'Raleway', sans-serif;
  cursor: pointer; }
  @media only screen and (max-width: 79em) {
    .btn--smaller {
      font-size: 1.3rem; } }
  @media only screen and (max-width: 55em) {
    .btn--smaller {
      font-size: 1.75rem;
      padding: 2rem;
      flex: 1 0 100%; } }
  @media only screen and (max-width: 37.5em) {
    .btn--smaller {
      font-size: 2rem;
      padding: 2rem;
      flex: 1 0 100%; } }
  .btn--smaller::after {
    content: '';
    display: inline-block;
    padding: 0 2rem 0 2rem;
    background-image: linear-gradient(to right, var(--color-cyan), var(--color-blue));
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: all 0.4s; }
    @media only screen and (max-width: 37.5em) {
      .btn--smaller::after {
        display: none; } }

.feature-box {
  text-align: center;
  max-width: 41rem;
  transition: all 0.4s;
  padding: 2rem;
  border-radius: 5px; }
  .feature-box__text {
    font-size: 1.5rem; }
    @media only screen and (max-width: 37.5em) {
      .feature-box__text {
        font-size: 2rem; } }
  .feature-box:hover {
    transform: translateY(-1rem);
    background-color: var(--color-blue-dark-4);
    box-shadow: var(--box-shadow-hover); }
    @media only screen and (max-width: 37.5em) {
      .feature-box:hover {
        transform: none;
        background-color: inherit;
        box-shadow: none; } }

.signup {
  max-width: 60%;
  background-color: var(--color-blue-dark-4);
  margin: 0 auto;
  text-align: center;
  padding: 5rem;
  border-radius: 5px;
  box-shadow: var(--box-shadow-hover);
  position: relative;
  top: 15rem;
  z-index: 100; }
  @media only screen and (max-width: 37.5em) {
    .signup {
      max-width: 90%; } }
  .signup__text {
    font-size: 1.6rem; }
    @media only screen and (max-width: 37.5em) {
      .signup__text {
        font-size: 2rem; } }
  .signup__form {
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .signup__form {
        flex-wrap: wrap; } }
    @media only screen and (max-width: 55em) {
      .signup__form {
        flex-wrap: wrap; } }
  .signup__input {
    flex: 1 0 55%;
    margin-right: 3.75rem;
    border-radius: 100px;
    outline: none;
    border: none;
    padding: 2rem 2rem 2rem 5rem;
    color: var(--color-blue-dark-1);
    font-family: inherit; }
    @media only screen and (max-width: 55em) {
      .signup__input {
        margin-right: 0;
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .signup__input {
        flex: 1 0 100%;
        margin-bottom: 2.25rem; } }
    .signup__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }

.testimonials-box {
  background-color: var(--color-blue-dark-4);
  margin: 3rem;
  padding: 3rem;
  border-radius: 5px;
  width: 27%; }
  @media only screen and (max-width: 37.5em) {
    .testimonials-box {
      width: 90%;
      padding: 4rem; } }
  .testimonials-box__text {
    font-size: 1.5rem; }
    @media only screen and (max-width: 37.5em) {
      .testimonials-box__text {
        font-size: 2rem; } }
  .testimonials-box__portrait {
    float: left;
    margin-right: 2rem;
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem; }
    @media only screen and (max-width: 37.5em) {
      .testimonials-box__portrait {
        height: 5.5rem;
        width: 5.5rem; } }
  .testimonials-box__name {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .testimonials-box__caption {
    font-size: 1.2rem;
    font-weight: 700; }
    @media only screen and (max-width: 37.5em) {
      .testimonials-box__caption {
        font-size: 2rem; } }
  .testimonials-box__position {
    font-size: 1.2rem; }
    @media only screen and (max-width: 37.5em) {
      .testimonials-box__position {
        font-size: 1.75rem; } }

.cta {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  justify-content: space-between; }
  @media only screen and (max-width: 79em) {
    .cta {
      max-width: 100%; } }
  @media only screen and (max-width: 62.5em) {
    .cta {
      max-width: 100%; } }
  @media only screen and (max-width: 55em) {
    .cta {
      flex-direction: column; } }
  @media only screen and (max-width: 37.5em) {
    .cta {
      display: block;
      max-width: 90%; } }
  @media only screen and (max-width: 55em) {
    .cta__illustration {
      width: 80vw;
      display: block;
      margin: 0 auto 10rem auto;
      width: 80vw;
      height: auto; } }
  .cta__textbox {
    max-width: 40%;
    align-self: center; }
    @media only screen and (max-width: 55em) {
      .cta__textbox {
        max-width: 65%; } }
    @media only screen and (max-width: 37.5em) {
      .cta__textbox {
        max-width: 100%; } }
  .cta__paragraph {
    font-size: 1.5rem;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 55em) {
      .cta__paragraph {
        font-size: 1.75rem; } }
    @media only screen and (max-width: 37.5em) {
      .cta__paragraph {
        font-size: 2.25rem; } }

.feature-container {
  display: grid;
  grid-template-columns: 30% 30%;
  grid-gap: 15rem;
  justify-content: center;
  justify-items: center; }
  @media only screen and (max-width: 37.5em) {
    .feature-container {
      grid-template-columns: 100%; } }

.footer__logo-box {
  padding: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .footer__logo-box {
      padding: 2rem 0 2rem 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .footer__logo-box--small {
      height: 5rem; } }

.footer-box {
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
  grid-gap: 5rem;
  padding: 5rem;
  justify-items: center; }
  @media only screen and (max-width: 37.5em) {
    .footer-box {
      display: block;
      font-size: 2rem; } }
  .footer-box__location {
    display: flex;
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .footer-box__location {
        margin-bottom: 2rem; } }
  .footer-box__icon-box--location {
    position: relative;
    top: 3px; }
  .footer-box__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-white);
    margin-right: 2rem; }
  .footer-box__phone, .footer-box__mail {
    display: flex;
    align-items: center; }
    .footer-box__phone:not(:last-child), .footer-box__mail:not(:last-child) {
      margin-bottom: 2rem; }
  .footer-box__list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem 8rem;
    color: var(--color-white); }
    @media only screen and (max-width: 37.5em) {
      .footer-box__list {
        display: none; } }
  .footer-box__link {
    color: var(--color-white); }
    .footer-box__link:link, .footer-box__link:active {
      text-decoration: none;
      display: inline-block;
      transition: all 0.3s; }
    .footer-box__link:hover {
      transform: scale(1.1) rotate(-5deg);
      background-color: var(--color-blue);
      color: var(--color-white);
      box-shadow: var(--box-shadow-hover); }
  @media only screen and (max-width: 37.5em) {
    .footer-box__social {
      display: none; } }

.header {
  background-color: var(--color-blue-dark-1);
  background-image: url(/images/bg-curvy-desktop.svg);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 37.5em) {
    .header {
      background-image: url(/images/bg-curvy-mobile.svg); } }
  @media only screen and (max-width: 37.5em) {
    .header__illustration {
      margin-bottom: 6rem;
      width: 80vw;
      height: auto; } }
  .header__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto; }
  .header__text-box {
    max-width: 65%;
    text-align: center;
    z-index: 100; }
    @media only screen and (max-width: 37.5em) {
      .header__text-box {
        max-width: 90%; } }
  .header__paragraph {
    max-width: 54rem;
    margin: 0 auto 3rem auto;
    z-index: 100; }

.logo-box {
  display: flex;
  align-items: center;
  margin: 0 5rem; }
  @media only screen and (max-width: 37.5em) {
    .logo-box {
      margin: 0 3rem; } }

.logo {
  height: 4.25rem; }
  @media only screen and (max-width: 37.5em) {
    .logo {
      height: 3.75rem; } }

.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 10rem;
  font-size: 1.4rem;
  margin-bottom: 5rem;
  font-family: 'Raleway', sans-serif; }
  @media only screen and (max-width: 37.5em) {
    .nav-bar {
      font-size: 1.9rem; } }
  .nav-bar__list {
    display: flex;
    align-items: center;
    align-self: stretch;
    list-style-type: none; }
  .nav-bar__link:link, .nav-bar__link:visited {
    height: 100%;
    display: inline-block;
    text-decoration: none;
    color: var(--color-white);
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-blue) 50%);
    background-size: 250%;
    margin-right: 5rem;
    padding: 1.2rem;
    transition: all 0.2s;
    border-radius: 10px; }
    @media only screen and (max-width: 37.5em) {
      .nav-bar__link:link, .nav-bar__link:visited {
        padding: 0; } }
  .nav-bar__link:hover {
    transform: translateY(-2px);
    background-position: 100%;
    box-shadow: var(--box-shadow-hover); }
    @media only screen and (max-width: 37.5em) {
      .nav-bar__link:hover {
        transform: none;
        background-position: 0 0;
        box-shadow: none; } }
  .nav-bar__link:active {
    transform: translateY(-1px);
    box-shadow: var(--box-shadow-active); }

.testimonials {
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: var(--box-shadow-hover); }
  @media only screen and (max-width: 37.5em) {
    .testimonials {
      flex-direction: column; } }

.icon__quotes {
  position: absolute;
  left: 8rem;
  top: 15.7rem; }
  @media only screen and (max-width: 37.5em) {
    .icon__quotes {
      width: 5.5rem;
      left: 3rem;
      top: 15.7rem; } }
  @media only screen and (max-width: 55em) {
    .icon__quotes {
      left: 4.75rem;
      top: 14.7rem; } }

.section-features,
.section-cta,
.section-testimonials {
  padding: 17rem 0 0 0;
  position: relative;
  background-color: var(--color-blue-dark-2); }

.section-signup {
  padding-top: 1rem;
  position: relative;
  background-color: var(--color-blue-dark-2); }

.section-features {
  padding-bottom: 5rem; }

.footer {
  background-color: var(--color-blue-dark-3);
  padding: 24rem 0 0 0;
  position: relative; }
