:root {
  --color-blue-dark-1: hsl(217, 28%, 15%);
  --color-blue-dark-2: hsl(218, 28%, 13%);
  --color-blue-dark-3: hsl(216, 53%, 9%);
  --color-blue-dark-4: hsl(219, 30%, 18%);
  --color-cyan: hsl(176, 68%, 64%);
  --color-blue: hsl(198, 60%, 50%);
  --color-white: #fff;
  --default-font-size: 1.8rem;
  --box-shadow-hover: 0 3rem 10rem rgba(0, 0, 0, 0.3);
  --box-shadow-active: 0 1rem 5rem rgba(0, 0, 0, 0.3); }

* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--default-font-size);
  font-weight: 400;
  color: var(--color-white);
  line-height: 1.5; }

.heading-primary {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  word-spacing: 5px;
  margin-bottom: 3rem; }

.heading-tertiary {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  word-spacing: 5px;
  margin-bottom: 1.4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  padding: 1.5rem 10rem;
  background-image: linear-gradient(to right, var(--color-cyan), var(--color-blue));
  border-radius: 100px;
  color: var(--color-white);
  position: relative;
  transition: all 0.4s;
  border: none; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 3rem 10rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0; }

.btn:focus, .btn:active {
  transform: translateY(-1px);
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: '';
  display: inline-block;
  padding: 1.5rem 10rem;
  background-image: linear-gradient(to right, var(--color-cyan), var(--color-blue));
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: all 0.4s; }

.btn-small, .btn-small:link, .btn-small:visited {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-cyan);
  border-bottom: 1px solid currentColor;
  position: relative;
  transition: all 0.3s; }

.btn-small::before {
  content: '';
  background-color: var(--color-cyan);
  width: 100%;
  height: 100%;
  position: absolute;
  top: -5rem;
  left: 0;
  z-index: -1;
  transition: all 0.3s; }

.btn-small:hover {
  z-index: 2;
  color: white;
  padding: 1rem;
  box-shadow: var(--box-shadow-hover); }

.btn-small:active {
  transform: translateY(-1px);
  box-shadow: var(--box-shadow-active); }

.btn-small:hover::before {
  top: 0; }

.btn-small__icon-arrow {
  margin-left: 4px; }

.feature-box {
  text-align: center;
  max-width: 41rem;
  transition: all 0.4s;
  padding: 2rem;
  border-radius: 5px; }
  .feature-box__text {
    font-size: 1.5rem; }
  .feature-box:hover {
    transform: translateY(-1rem);
    background-color: var(--color-blue-dark-4);
    box-shadow: var(--box-shadow-hover); }

.cta {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  justify-content: space-between; }
  .cta__textbox {
    max-width: 40%; }
  .cta__paragraph {
    font-size: 1.5rem;
    margin-bottom: 3rem; }

.feature-container {
  display: grid;
  grid-template-columns: 30% 30%;
  grid-gap: 15rem;
  justify-content: center;
  justify-items: center; }

.header {
  background-color: var(--color-blue-dark-1);
  background-image: url(/images/bg-curvy-desktop.svg);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat; }
  .header__illustration {
    margin-bottom: 6rem; }
  .header__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto; }
  .header__text-box {
    max-width: 65%;
    text-align: center;
    z-index: 100; }
  .header__paragraph {
    max-width: 54rem;
    margin: 0 auto 3rem auto;
    z-index: 100; }

.logo-box {
  display: flex;
  align-items: center;
  margin: 0 5rem; }

.logo {
  height: 4.25rem; }

.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 10rem;
  font-size: 1.4rem;
  margin-bottom: 5rem; }
  .nav-bar__list {
    display: flex;
    align-items: center;
    align-self: stretch;
    list-style-type: none; }
  .nav-bar__link:link, .nav-bar__link:visited {
    height: 100%;
    display: inline-block;
    text-decoration: none;
    color: var(--color-white);
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-blue) 50%);
    background-size: 250%;
    margin-right: 5rem;
    padding: 1.2rem;
    transition: all 0.2s;
    border-radius: 10px; }
  .nav-bar__link:hover {
    transform: translateY(-2px);
    background-position: 100%;
    box-shadow: var(--box-shadow-hover); }
  .nav-bar__link:active {
    transform: translateY(-1px);
    box-shadow: var(--box-shadow-active); }

.section-features,
.section-cta {
  background-color: var(--color-blue-dark-2);
  padding: 20rem 0 0 0; }
