:root {
	// COLORS
	--color-blue-dark-1: hsl(217, 28%, 15%);
	--color-blue-dark-2: hsl(218, 28%, 13%);
	--color-blue-dark-3: hsl(216, 53%, 9%);
	--color-blue-dark-4: hsl(219, 30%, 18%);

	// ACCENT COLORS

	--color-cyan: hsl(176, 68%, 64%);
	--color-blue: hsl(198, 60%, 50%);

	--color-white: #fff;

	--color-grey-light-4: #ccc;

	// FONT-SIZE

	--default-font-size: 1.8rem;

	////////////////////////////////////
	// MEDIA QUERIES

	@include respond(phone) {
		--default-font-size: 2rem;
	}

	////////////////////////////////////
	//

	--box-shadow-hover: 0 3rem 3rem rgba(0, 0, 0, 0.3);
	--box-shadow-active: 0 1rem 5rem rgba(0, 0, 0, 0.3);
}
