// COLORS

$color-blue-dark-1: #728097;
$color-blue-dark-2: #181f2a;
$color-blue-dark-3: #0b1523;
$coloe-blue-dark-4: #202a3c;

// ACCENT COLORS

$color-cyan: #65e2d9;
$color-blue: #339ecc;

$color-white: #fff;
