.cta {
	display: flex;
	max-width: 80%;
	margin: 0 auto;
	justify-content: space-between;

	@include respond(medium-size) {
		max-width: 100%;
	}

	@include respond(small-size) {
		max-width: 100%;
	}

	@include respond(phone) {
		display: block;
		max-width: 90%;
	}

	&__illustration {
		@include respond(phone) {
			display: block;
			margin: 0 auto 10rem auto;
			width: 80vw;
			height: auto;
		}
	}

	&__textbox {
		max-width: 40%;
		align-self: center;

		@include respond(phone) {
			max-width: 100%;
		}
	}

	&__paragraph {
		font-size: 1.5rem;
		margin-bottom: 3rem;

		@include respond(phone) {
			font-size: 2.25rem;
		}
	}
}
