.feature-container {
	display: grid;
	grid-template-columns: 30% 30%;
	grid-gap: 15rem;
	justify-content: center;
	justify-items: center;

	@include respond(phone) {
		grid-template-columns: 100%;
	}
}
