.footer__logo-box {
	padding: 5rem;

	@include respond(phone) {
		padding: 2rem 0 2rem 5rem;
	}

	&--small {
		@include respond(phone) {
			height: 5rem;
		}
	}
}

.footer-box {
	font-size: 1.5rem;
	display: grid;
	grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
	grid-gap: 5rem;
	padding: 5rem;
	justify-items: center;

	@include respond(phone) {
		display: block;
		font-size: 2rem;
	}

	&__location {
		display: flex;
		position: relative;

		@include respond(phone) {
			margin-bottom: 2rem;
		}
	}

	&__icon-box--location {
		position: relative;
		top: 3px;
	}

	&__icon {
		width: 2rem;
		height: 2rem;
		fill: var(--color-white);
		margin-right: 2rem;
	}

	&__phone,
	&__mail {
		display: flex;
		align-items: center;

		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}

	&__list {
		list-style: none;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2rem 8rem;
		color: var(--color-white);

		@include respond(phone) {
			display: none;
		}
	}

	&__link {
		color: var(--color-white);
		&:link,
		&:active {
			text-decoration: none;
			display: inline-block;
			transition: all 0.3s;
		}

		&:hover {
			transform: scale(1.1) rotate(-5deg);
			background-color: var(--color-blue);
			color: var(--color-white);
			box-shadow: var(--box-shadow-hover);
		}
	}

	&__social {
		@include respond(phone) {
			display: none;
		}
	}
}
