.header {
	background-color: var(--color-blue-dark-1);
	background-image: url(/images/bg-curvy-desktop.svg);
	background-position: bottom;
	background-size: contain;
	background-repeat: no-repeat;

	@include respond(phone) {
		background-image: url(/images/bg-curvy-mobile.svg);
	}

	&__illustration {
		margin-bottom: 6rem;
		width: 80vw;
		height: auto;
	}

	&__intro {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 80%;
		margin: 0 auto;
	}

	&__text-box {
		max-width: 65%;
		text-align: center;
		z-index: 100;

		@include respond(phone) {
			max-width: 90%;
		}
	}

	&__paragraph {
		max-width: 54rem;
		margin: 0 auto 3rem auto;
		z-index: 100;
	}
}
