.testimonials {
	display: flex;
	justify-content: center;
	position: relative;
}

.icon__quotes {
	position: absolute;
	left: 8rem;
	top: 15.7rem;
	-webkit-filter: opacity(0.5) drop-shadow(0 0 0 var(--color-cyan));
	filter: opacity(0.5) drop-shadow(0 0 0 var(--color-cyan));
}
