.feature-box {
	text-align: center;
	max-width: 41rem;
	transition: all 0.4s;
	padding: 2rem;
	border-radius: 5px;

	&__text {
		font-size: 1.5rem;

		@include respond(phone) {
			font-size: 2rem;
		}
	}

	&:hover {
		transform: translateY(-1rem);
		background-color: var(--color-blue-dark-4);
		box-shadow: var(--box-shadow-hover);

		@include respond(phone) {
			transform: none;
			background-color: inherit;
			box-shadow: none;
		}
	}
}
