.signup {
	max-width: 65%;
	background-color: var(--color-blue-dark-4);
	margin: 0 auto;
	text-align: center;
	padding: 5rem;
	border-radius: 5px;
	box-shadow: var(--box-shadow-hover);

	&__text {
		font-size: 2rem;
	}
	&__form {
	}
	&__input {
	}
}
