.testimonials-box {
	background-color: var(--color-blue-dark-4);
	margin: 3rem;
	padding: 3rem;
	border-radius: 5px;
	width: 27%;

	@include respond(phone) {
		width: 90%;
		padding: 4rem;
	}

	&__text {
		font-size: 1.5rem;

		@include respond(phone) {
			font-size: 2rem;
		}
	}

	&__portrait {
		float: left;
		margin-right: 2rem;
		border-radius: 50%;
		height: 3.5rem;
		width: 3.5rem;

		@include respond(phone) {
			height: 5.5rem;
			width: 5.5rem;
		}
	}

	&__name {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__caption {
		font-size: 1.2rem;
		font-weight: 700;

		@include respond(phone) {
			font-size: 2rem;
		}
	}

	&__position {
		font-size: 1.2rem;

		@include respond(phone) {
			font-size: 1.75rem;
		}
	}
}
