body {
  font-family: "Open Sans", sans-serif;
  font-size: $default-font-size;
  font-weight: 400;
  color: $color-white;
}

.heading {
  font-family: "Raleway", sans-serif;
  font-weight: 700;

  &--primary {
    font-size: 4rem;
  }

  &--secondary {
    font-size: 3rem;
  }

  &--tertiary {
    font-size: $default-font-size;
  }
}
