body {
	font-family: 'Open Sans', sans-serif;
	font-size: var(--default-font-size);
	font-weight: 400;
	color: var(--color-white);
	line-height: 1.5;
}

.heading-primary {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 4rem;
	word-spacing: 5px;
	margin-bottom: 3rem;

	////////////////////////////////////
	// MEDIA QUERIES

	@include respond(phone) {
		font-size: 3rem;
	}
}

////////////////////////////////////
//

.heading-secondary {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 3.25rem;
	word-spacing: 5px;
	margin-bottom: 2rem;
}

.heading-tertiary {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 1.6rem;
	word-spacing: 5px;
	margin-bottom: 1.4rem;

	////////////////////////////////////
	// MEDIA QUERIES

	@include respond(phone) {
		font-size: 2.5rem;
	}
}
