.section-features,
.section-cta,
.section-testimonials {
	padding: 17rem 0 0 0;
	position: relative;
	background-color: var(--color-blue-dark-2);
}

.section-signup {
	padding-top: 1rem;
	position: relative;
	background-color: var(--color-blue-dark-2);
}

.section-features {
	padding-bottom: 5rem;
}

.footer {
	background-color: var(--color-blue-dark-3);
	padding: 24rem 0 0 0;
	position: relative;
}
